/* Custom CSS */

body{
	padding: 0;
	position: relative;
	font-family: 'Lato', sans-serif;
}

.wide {
	padding: 10%;
	padding-top: 75px;
}

.btn {
	background-color: #7a9f81;
	color: white;
	font-size: 20px;
	padding: 15px 20px;
}

.btn:hover{
	background-color: #CCDDCE;
	color: black;
}

h1{
	font-size: 60px;
}


/* Header */

.jumbotron {
	padding: 50px 20% !important;
	background: #b7d6bd;
	background: #CCDDCE;
}

.jumbotron p{
	font-size: 15px !important;
}

.jumbotron img{
	padding-bottom: 20px;
}


.about-item{
	padding: 1% 2%;
}

.about-item span {
	padding-top: 10px;
	width: 100px;
	height: 100px;
	font-size: 70px;
	border-radius: 50%;
	background-color: #CCDDCE;
}

#about ul{
	list-style: none;
    padding: 0;
}

#about h2, #agreement h2 {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
	color: #333;
}

#agreement h2:not(:first-child){
	padding-top: 40px;
}

#about h2:not(:first-child) {
    margin-top: 60px;
}

#skills a{
	color: #333;
}

#skills p{
	font-size: 18px;
}

#skills img{
	width: 100%;
}

#skills h2{
	margin-top: 0 ;
}

#skills .row{
	padding-top: 50px;
}

#agreement ul li{
	text-align: left;
}

.signatures {
	margin-top: 80px;
}

.signatures img{
	width: 150px;
}


/* Progress bars*/
div.progress {
	margin: 30px;
	height: 3em;
	position: relative;
}
.progress-bar {
	min-width: 2em;
}
.progress-bar p {
	margin: 0;
    transform: translate(0%, 50%);
    font-size: 15px;
    color: white;
}
div.status{
	padding-top: : 5px;
	padding-bottom: 50px;
}


/*Nav*/
.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a,
.navbar
.navbar-brand {
    color: #7a9f81 !important;
    text-transform: uppercase;
}

.navbar-brand:hover,
.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: black !important;
    background-color: #7a9f81 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand{
	background-size: contain;
}

#footerInfo footer{
	line-height: 1.6em;
	margin-top: 2em; /*moves the line to the midddle*/
	margin-bottom: 2em;
	font-size: 12px;
	border-top-width: 2px;
	border-top: 1px solid #ddd;
	border-bottom-width: 2px;
	border-bottom: 1px solid #ddd;
	display: block;
}

#topNav nav,
#footerInfo footer{
	float: left;
	width: 100%;
	text-align: center;
	display: inline-block;
	line-height: 1.6em;
	margin-bottom: 0.5em;
}

#topNav nav ul,
#footerInfo footer ul{
	font-weight: normal;
    font-size: 12px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal
    width: auto;
    margin: auto;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    list-style-image: none;
    background-color: #fff;
}

#footerInfo footer ul{
	padding: 10px 20px 0px 20px;
}

#topNav nav li,
#footerInfo footer li{
	float: left;
	position: relative;
	display: inline-block;
	line-height: 1.6em;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
}

#topNav nav li a,
#footerInfo footer li a {
    display: inline-block;
    border-top-color: transparent;
    border-top-style: solid;
	border-bottom-color: transparent;
	border-bottom-style: solid;
}

#footerInfo footer li{
	font-size: 12px;
}

#topNav a:hover,
#topNav a:active,
#footerInfo a:hover,
#footerInfo a:active{
	color: #111;
	border-top-color: #ddd;
	border-bottom-color: #ddd;
}

#topNav a,
#footerInfo a{
	color: #999;
	text-decoration: none;
}
